* {
    box-sizing: border-box;
}

body {
    background-color: #1b5a7b;
}

.main {
    box-shadow: 0 0 100px #0e2d3d, 0 0 1px #081b25;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px;
}

label[for="number"] {
    font-size: large;
    text-transform: none;
}

form {
    position: relative;
    top: 70px;
    margin: auto;
}

input {
    display: block;
    margin: 20px auto;
    width: 40%;
    font-size: xx-large;
    padding: 5px;
}

input[type="button"] {
    background-color: #db9d26;
    border: none;
    margin-top: 80px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #855e17;
    border-radius: 20px;
    font-size: medium;
    box-shadow: 0 0 30px #0f3447;
}


input[type="button"]:hover {
    background-color: #855e17;
    text-shadow: 0 0 15px #db9d26;
    cursor: pointer;
}

input[type="button"]:active {
   box-shadow: none;
}